<div class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold text-white">Country Apps</h1>
      <p class="mb-5 text-justify text-white">
        With the use of this App you can have all the detailed information about a country and its territories, you can
        also know the official language of that country, obtain information about the total number of inhabitants,
        information about the presidents among others.
      </p>
      <button class="btn bg-[#622069] text-white border-[#918d91]"
      routerLink="/country">
        Get Started
      </button>
    </div>
  </div>
</div>
