<!-- Country List -->
<section class="my-5 border-2 border-gray-700 focus:border-pink-600">
  <table class="table table-md m-1 w-full">
    <thead class="">
      <tr>
        <th>No.</th>
        <th>Country Code</th>
        <th>Icon</th>
        <th>Flag</th>
        <th>Country</th>
        <th>Capital</th>
        <th>Population</th>
        <th>Idioma</th>
        <th>Other data</th>
      </tr>
    </thead>
    <tbody>
      @for (Capital of capital(); track Capital.cca3; let index = $index) {
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ Capital.countryCode }}</td>
        <td>{{ Capital.flagFifa }}</td>
        <td><img [src]="Capital.flagSvg" [alt]="Capital.country" class="w-15"></td>
        <td>{{Capital.country}}</td>
        <td>{{Capital.capitalName}}</td>
        <td><span class="badge badge-success">{{Capital.population | number}}</span></td>
        <td>{{Capital.idioma}}</td>
        <td><a href="" class="link-primary cursor-pointer">Más Información...</a></td>
      </tr>
    }
    </tbody>
  </table>
</section>
