<!-- Country List -->
<section class="my-5 border-2 border-gray-700 focus:border-pink-600">
  <table class="table table-md m-1 w-full">
    <thead class="">
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>icono</td>
        <td>Bandera</td>
        <td>Nombre</td>
        <td>Capital</td>
        <td>Población</td>
      </tr>
    </tbody>
  </table>
</section>
